* {font-size: 25px; 
    font-family: 'Advent Pro', sans-serif;
    font-weight: 250;
    }

    html {width: 100%;}
body {width: 100%;
margin: 0;
position: relative;}


/*navbar*/

.nav {display: flex; 
    flex-direction: row; 
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
    align-content: center;
flex-wrap: wrap;
background-color: black;
color:white;
position: static;
width: 100%;
}

#logo {max-width: 120px;
object-fit:scale-down;
justify-self: flex-start;
}

.nav p {position: absolute;
    left:50%;
    right: 50%;
font-size: 30px;
transition: all 0.3s ease;
}

.nav p:hover {font-size: 35px;
cursor: pointer;
text-shadow: 2px 2px 2px #ef97e8;

}

ul {display: flex;
justify-content: right;
justify-self: right;
flex-wrap: wrap; 
width:20%;
list-style-type: none;
margin-right: 50px;
justify-self: flex-end;
}

li {padding: 15px; 
    margin-left: 15px;
    transition: all 0.3s ease;
}

li:hover {background-color: gray;
cursor: pointer; 
border: 1px solid white;
box-shadow: 0 0 10px #ef97e8, 0 0 20px #ef97e8, 0 0 15px #fff inset;
}

/*fade1*/

.fade1 {position: static;
    top:100px;
    width: 100%;
    height: 200px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);}

/*main content*/

.container {display: flex;
    justify-content: space-around;
padding:0px 0px 200px 0px;
align-items: stretch;
text-align: center;
width: 100%;
margin: 0;
}

.spot {padding: 30px;
max-width: 400px;
border: 2px solid black;
transition: all 0.3s ease;
}

.spot:hover {background-color: rgb(223, 223, 223);
    box-shadow: 0 0 50px #ef97e8, 0 0 20px #ef97e8, 0 0 15px #fff inset;}

.spot:hover  h2 {    text-shadow: 
    1px 0px 1px #f0b9eb, 0px 1px 1px #eee, 
    2px 1px 1px #f0b9eb, 1px 2px 1px #eee,
    3px 2px 1px #f0b9eb, 2px 3px 1px #eee,
    4px 3px 1px #f0b9eb, 3px 4px 1px #eee,
    5px 4px 1px #f0b9eb, 4px 5px 1px #eee,
    6px 5px 1px #f0b9eb, 5px 6px 1px #eee,
    7px 6px 1px #f0b9eb;}

.spot:hover input {animation: pulse 1s infinite;
    transition: .3s;
background-color:rgb(223, 223, 223) ;}

img {max-width: 400px; 
    border:2px solid black;}

h2 {font-size: 25px; font-weight: bold;
    text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
    transition: all 0.3s ease;}

input {background-color: white;
    transition: all 0.2s ease;
}

input:hover {cursor: pointer;
color:black;   
box-shadow: 0 0 50px #ef97e8, 0 0 20px #ef97e8, 0 0 15px #6d6c6c inset; 
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }
  

/*footer*/

footer {position: absolute;
width: 100%;
left: 0;
bottom: 0;
margin: 0;
background-color: black;
color: white;
}

footer p { text-align: center; 
    padding: 0;
    margin: 10px;  
}



@media (max-width:1500px) {
    .container {flex-direction: column;
    align-items: center;
justify-content: space-around;
gap: 40px;}

ul {flex-direction: column;
    text-align: center;
width:100px;}

.spot {max-width: 800px;}

img {max-width: 800px;}
    
}

@media (max-width:500px) {
    .spot {max-width: 300px;}
    img {max-width:300px;}
    nav {flex-direction: column;
    justify-content: center;
align-items: center;
gap: 0px;}
    .nav p{font-size: 25px; position: relative; left:55px;}
    .nav p:hover{font-size: 30px;}
    ul {margin-right: 0;}
    li {font-size: 18px; }
    #logo {max-width: 70px;
    max-height: 40px;        
    position: relative;
top:0;}
}
